html {
    box-sizing: border-box;
    font-size: 16px;
}


.hero {
    padding: 20px;

}
.hero section img {
    width: 100%;
    height: auto;
}
.stormy {
    background-color: pink;
    color: #fff;
}
.stormy section {
    box-sizing: border-box
}
.stormy .em {
    padding:2em;
}
.stormy .rem {
    padding:3rem;

}
.stormy .percentage p {
    width: 75%;

}
.stormy .vw {
    padding: 5vw;
}
a {
    color: purple;
    text-decoration: none;
}