html{
    font-size: 16px;
    box-sizing: border-box;
}
.hero{
    padding: 2%;
}
.hero section img{
    width: 100%;
    height: auto;
}
.stormy {
    background-color: #2c3e50;
    color: white
}
.stormy section{
    box-sizing: border-box;
}
.stormy .em{
    padding: 2em;
}
.stormy .rem {
    padding: 3rem;
}
.stormy .percentage p {
    width:75%;
}
.stormy .vw {
    width: 50vw;
}
a {
    color: #2980b9;
    text-decoration: none;
}